# Course Arrangement

## 模型 Model

0-1 整数规划(0-1 Integer Linear Programming)

### 约束条件 Constants

Field   | Max_Number   | desc
---------|---------------|----------
Grade   | max_grade    |
Claxx   | max_claxx    |
Weekday  | max_weekday  |
Lesson  | max_lesson   |
Teacher | max_teacher  |

* 班级 claxx

年级和班级设置：

claxx_id | name     | grade_id
---------|------------|----------
1      | 一班     | 1
2      | 二班     | 1
...     | ...      | ...

max_grade   <- 1
max_claxx   <- 4
max_weekday <- 5
max_lesson  <- 6
max_teacher <- 20

In [35]:
mclaxx <- matrix(c(1, 1, 2, 1, 3, 1, 4, 1, 5, 1, 6, 2, 7, 2, 8, 2, 9, 2, 10, 2, 11, 2), 
                 ncol=2, byrow=TRUE)

max_grade <- length(unique(mclaxx[,2]))

# max_claxx <-

[1] 2

[1] 11 11

* 科目 Course

grade_id | course_id | number_course
---------|-----------|---------------
1      | 1      | 10
1      | 2      | 10
1      | 3      | 5
1      | 4      | 5
...    |...     | ...

In [4]:
cmatrix <- matrix(c(1, 1, 10, 1, 2, 10, 1, 3, 5, 1, 4, 5, 1, 5, 2, 1, 6, 2, 1, 7, 2), 
                  ncol=3, byrow = TRUE)

* 课程 Lesson

claxx_id | teacher_id | course_id | number_lesson
---------|----------|------------|-----------------
 1     | 1      | 1       | 10
 1     | 1      | 2       | 10
 1     | 1      | 3       | 5
 1     | 1      | 4       | 5

In [5]:
lmatrix <- matrix(c(1, 1, 1, 10, 1, 2, 2, 10, 1, 3, 3, 5, 1, 4, 4, 5, 1, 5, 5, 2, 1, 6, 6, 2, 1, 7, 7, 2), 
                  ncol=4, byrow = TRUE)

In [6]:


ncourse_morning = 4    # 上午课时数
ncourse_afternoon = 2  # 下午课时数
ncourse <- ncourse_morning + ncourse_afternoon

In [7]:
lmatrix <- matrix(c(1, 1, 10, 1, 2, 10, 1, 3, 5, 1, 3, 5), ncol=3, byrow = TRUE)

     [,1] [,2] [,3]
[1,] 1    1    10
[2,] 1    2    10
[3,] 1    3     5
[4,] 1    3     5