# Course Arrangement

## 模型 Model

0-1 整数规划(0-1 Integer Linear Programming)

### 约束条件 Constants



* 班级 claxx

年级和班级设置：

claxx_id | name     | grade_id
---------|------------|----------
1      | 一班     | 1
2      | 二班     | 1
...     | ...      | ...

In [37]:
mclaxx <- matrix(c(1, 1, 2, 1, 3, 1, 4, 1, 5, 1, 6, 2, 7, 2, 8, 2, 9, 2, 10, 2, 11, 2), 
                 ncol=2, byrow=TRUE)
colnames(mclaxx) <- c("claxx_id", "grade_id")
mclaxx

max_grade <- length(unique(mclaxx[,2]))
max_claxx <- length(mclaxx)

max_weekday <- 5
max_lesson  <- 6
max_teacher <- 20

1. 1
2. 2
3. 3
4. 4
5. 5
6. 6
7. 7
8. 8
9. 9
10. 10
11. 11
      claxx_id grade_id
 [1,]  1       1
 [2,]  2       1
 [3,]  3       1
 [4,]  4       1
 [5,]  5       1
 [6,]  6       2
 [7,]  7       2
 [8,]  8       2
 [9,]  9       2
[10,] 10       2
[11,] 11       2

* 科目 Course

grade_id | course_id | number_course
---------|-----------|---------------
1      | 1      | 10
1      | 2      | 10
1      | 3      | 5
1      | 4      | 5
...    |...     | ...

In [9]:
cmatrix <- matrix(c(1, 1, 10, 1, 2, 10, 1, 3, 5, 1, 4, 5, 1, 5, 2, 1, 6, 2, 1, 7, 2), 
                  ncol=3, byrow = TRUE)
colnames(cmatrix) <- c("grade_id", "course_id", "number_course")
cmatrix

     grade_id course_id number_course
[1,] 1        1         10
[2,] 1        2         10
[3,] 1        3          5
[4,] 1        4          5
[5,] 1        5          2
[6,] 1        6          2
[7,] 1        7          2

* 教师 Teacher

In [47]:
tmatrix <- matrix(c(1:24))
nteacher <- 24

* 课程 Lesson

In [7]:
lmatrix <- matrix(c(1, 1, 1, 10, 1, 2, 2, 10, 1, 3, 3, 5, 1, 4, 4, 5, 1, 5, 5, 2, 1, 6, 6, 2, 1, 7, 7, 2), 
                  ncol=4, byrow = TRUE)
colnames(lmatrix) <- c("claxx_id", "teacher_id", "course_id", "number_lesson")
lmatrix

     claxx_id teacher_id course_id number_lesson
[1,] 1        1          1         10
[2,] 1        2          2         10
[3,] 1        3          3          5
[4,] 1        4          4          5
[5,] 1        5          5          2
[6,] 1        6          6          2
[7,] 1        7          7          2

In [45]:
ncourse_morning = 4    # 上午课时数
ncourse_afternoon = 2  # 下午课时数
ncourse <- ncourse_morning + ncourse_afternoon

In [7]:
lmatrix <- matrix(c(1, 1, 10, 1, 2, 10, 1, 3, 5, 1, 3, 5), ncol=3, byrow = TRUE)
# colnames(lmatrix) <- c("claxx_id", "")

     [,1] [,2] [,3]
[1,] 1    1    10
[2,] 1    2    10
[3,] 1    3     5
[4,] 1    3     5

In [49]:
a <- array(rep(0, max_claxx * ncourse * nteacher), dim=c(max_claxx, ncourse, nteacher))

1. 时段限制

* 约束条件

对象在上午/下午/某一节课时，固定/最少/最多/不排 $n$ 节课

对象可以是某位/几位教师，或者是某些年级/某些班的某些科目

1) 某位/某几位教师

In [19]:
t <- c(1:24)
t %in% c(3, 5)

 [1] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [32]:
a <- array(0, c(3, 4, 5))
a
t <- c(1:5)
f <- t %in% c(2)
f

a[,,] * f

, , 1

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 2

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 3

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 4

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 5

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

[1] FALSE  TRUE FALSE FALSE FALSE

, , 1

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 2

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 3

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 4

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

, , 5

     [,1] [,2] [,3] [,4]
[1,]    0    0    0    0
[2,]    0    0    0    0
[3,]    0    0    0    0

In [43]:
a <- rep(0, 6)
a
b <- c(1, 0, 1, 0)
a | b

[1] 0 0 0 0 0 0

Warning message in a | b:
"长的对象长度不是短的对象长度的整倍数"

[1]  TRUE FALSE  TRUE FALSE  TRUE FALSE